
<html>
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro reCAPTCHA v3 sampler</title>
  </head>

  <body>
    <div class="container m-auto pb-20 pt-14 px-5">
      <slot/>
    </div>
  </body>
</html>
